section.scrollspy#cases
    .container
        .row
            .col.s12.center
                h2 Selected cases
        .blocks
            .row

                .col.s12.m6.l6
                    a(href='#scatola-blu', style='background-image: url(./assets/images/cases/blue-box.png)').block.rectangle.modal-trigger
                        .waves-effect.waves-light.content.flow-text(style='background: #f8bbd0')
                            .title Scatola blu
                .col.s12.m6.l6
                    a(href='#la-tazza', style='background-image: url(./assets/images/cases/teal-cup.png)').block.rectangle.modal-trigger
                        .waves-effect.waves-light.content.flow-text(style='background: #d1c4e9')
                            .title La tazza

                .col.s12.m6.l6
                    a(href='#corallo', style='background-image: url(./assets/images/cases/coral-cup-vertical.png)').block.rectangle.modal-trigger
                        .waves-effect.waves-light.content.flow-text(style='background: #b39ddb')
                            .title Corallo

                .col.s12.m6.l6
                    a(href='#vaso-astratto', style='background-image: url(./assets/images/cases/abstract-vase-vertical.png)').block.rectangle.modal-trigger
                        .waves-effect.waves-light.content.flow-text(style='background: #80cbc4')
                            .title Vaso astratto

                .col.s12.m6.l6
                    a(href='#vaso-largo', style='background-image: url(./assets/images/cases/purple-vase.png)').block.rectangle.modal-trigger
                        .waves-effect.waves-light.content.flow-text(style='background: #b2dfdb')
                            .title Vaso largo
                .col.s12.m6.l6
                    a(href='#candeliere-moderno', style='background-image: url(./assets/images/cases/red-candle-square.png)').block.rectangle.modal-trigger
                        .waves-effect.waves-light.content.flow-text(style='background: #9fa8da')
                            .title Candeliere moderno

include ../modals/_scatola-blu.pug
include ../modals/_corallo.pug
include ../modals/_la-tazza.pug
include ../modals/_vaso-astratto.pug
include ../modals/_vaso-largo.pug
include ../modals/_candeliere-moderno.pug