extends _base.pug

block title
    title Zulu - 200 200 200

block vars
    - var dataHsb = '200 200 200'
    - var cases = 'vertical-rectangles-2-col'

block page-scripts
    script(src='./assets/js/explosion.js')