doctype html
html(lang='en')

    include layout/_head.pug

    block vars

    body
        .blocks.no-margin
            .row
                .col.s12.m6.l6
                    a(href='index-0-90-50.html', style='background-image: url(./assets/images/demos/0-90-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #800d0d')
                            .title 0—90—50
                            .cases Mixed shapes, 2 columns

                .col.s12.m6.l6
                    a(href='index-50-90-50.html', style='background-image: url(./assets/images/demos/50-90-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #806c0d')
                            .title 50—90—50
                            .cases Horizontal rectangles, 1 column

                .col.s12
                    a(href='index-30-100-100.html', style='background-image: url(./assets/images/demos/30-100-100.png)').block.rectangle-horizontal
                        .waves-effect.waves-light.content.flow-text(style='background: #ff8000')
                            .title 30—100—100
                            .cases Squares, 2 columns

                .col.s12.m6.l6
                    a(href='index-100-90-50.html', style='background-image: url(./assets/images/demos/100-90-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #33800d')
                            .title 100—90—50
                            .cases Horizontal rectangles, 2 columns

                .col.s12.m6.l6
                    a(href='index-150-70-60.html', style='background-image: url(./assets/images/demos/150-70-60.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #2e9963')
                            .title 150—70—60
                            .cases Horizontal rectangles, 3 columns

                .col.s12
                    a(href='index-230-100-100.html', style='background-image: url(./assets/images/demos/230-100-100.png)').block.rectangle-horizontal
                        .waves-effect.waves-light.content.flow-text(style='background: #002bff')
                            .title 230—100—100
                            .cases Vertical rectangles, 3 columns

                .col.s12.m6.l6
                    a(href='index-180-70-50.html', style='background-image: url(./assets/images/demos/180-70-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #268080')
                            .title 180—70—50
                            .cases Squares, 2 columns

                .col.s12.m6.l6
                    a(href='index-200-70-50.html', style='background-image: url(./assets/images/demos/200-70-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #266280')
                            .title 200—70—50
                            .cases Squares, 3 columns

                .col.s12
                    a(href='index-200-200-200.html', style='background-image: url(./assets/images/demos/200-200-200.png)').block.rectangle-horizontal
                        .waves-effect.waves-light.content.flow-text(style='background: #00aaff')
                            .title 200—200—200
                            .cases Vertical rectangles, 2 columns

                .col.s12.m6.l6
                    a(href='index-250-70-50.html', style='background-image: url(./assets/images/demos/250-70-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #352680')
                            .title 250—70—50
                            .cases Vertical rectangles, 3 columns

                .col.s12.m6.l6
                    a(href='index-275-90-50.html', style='background-image: url(./assets/images/demos/275-90-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #500d80')
                            .title 275—90—50
                            .cases Mixed shapes, 2 columns

                .col.s12
                    a(href='index-220-30-30.html', style='background-image: url(./assets/images/demos/220-30-30.png)').block.rectangle-horizontal
                        .waves-effect.waves-light.content.flow-text(style='background: #363d4d')
                            .title 220—30—30
                            .cases Mixed shapes, 2 columns

                .col.s12.m6.l6
                    a(href='index-300-90-50.html', style='background-image: url(./assets/images/demos/300-90-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #802680')
                            .title 300—90—60
                            .cases Horizontal rectangles, 2 columns

                .col.s12.m6.l6
                    a(href='index-325-90-50.html', style='background-image: url(./assets/images/demos/325-90-50.png)').block.rectangle
                        .waves-effect.waves-light.content.flow-text(style='background: #80265a')
                            .title 325—90—50
                            .cases Squares, 3 columns

        include layout/_scripts.pug
