extends _base.pug

block title
    title Zulu - 30 100 100

block vars
    - var dataHsb = '30 100 100'
    - var cases = 'squares-2-col'

block page-scripts
    script(src='./assets/js/explosion.js')