extends _base.pug

block title
    title Zulu - 150 70 60

block vars
    - var dataHsb = '150 70 60'
    - var cases = 'rectangles-3-col'

block page-scripts
    script(src='./assets/js/explosion.js')