extends _base.pug

block title
    title Zulu - 230 100 100

block vars
    - var dataHsb = '230 100 100'
    - var cases = 'vertical-rectangles-3-col'

block page-scripts
    script(src='./assets/js/explosion.js')