@import url('https://fonts.googleapis.com/css?family=Barlow:400,600|Barlow+Semi+Condensed:400,600&display=swap');

@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.embed-fix {
  padding-bottom: 56.25%;
}

/* .streaming-marquee {
  margin: 0px -32px;
} */

#contact {
  scroll-behavior: smooth;
}

.offerings .offering > .icon-wrapper {
  width: 64px;
  height: 64px;
}

.offerings .offering > .icon-wrapper > svg {
  width: 100%;
}

.offerings .offering > ul > li {
  margin: 5px 0;
}

.offerings .offering > ul > li:last-child {
  margin-bottom: 0;
}

.vendor-spaghetti-cont .vendor-spaghetti-wrapper .vendor-category > .vendor-category-name {
  top: -13px;
}

.vendor-spaghetti-cont .vendor-spaghetti-wrapper .vendor-category > .vendors > .vendor {
  height: 40px;
}

.vendor-spaghetti-cont .vendor-spaghetti-wrapper .vendor-category > .vendors > .vendor > svg {
  height: 100%;
  opacity: 0.32;
  filter: grayscale(1);
}

.vendor-spaghetti-cont .vendor-spaghetti-wrapper .vendor-category > .vendors > .vendor > svg:hover,
.vendor-spaghetti-cont .vendor-spaghetti-wrapper .vendor-category > .vendors > .vendor > svg:focus {
  opacity: 1;
  filter: grayscale(0);
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}