.navbar-fixed
    nav
        .nav-wrapper

            a.brand-logo(href='#/')
                img(src='./assets/images/logo-white-1x.png', alt='Logo',
                srcset='./assets/images/logo-white-1x.png 1x,' +
                './assets/images/logo-white-2x.png 2x,' +
                './assets/images/logo-white-3x.png 3x')


            // A desktop version navigation
            ul.right.hide-on-med-and-down
                include ../components/_nav-items.pug

            // Side navigation for mobile devices
            ul#slide-out.side-nav
                include ../components/_nav-items.pug

            // Side nav menu button
            span.right.show-on-medium-and-down.hide-on-large-only
                a#sidenav-toggle.sidenav-toggle(href='#', data-activates='slide-out') Menu